[Unit]
Description=ONVIF Device (IP camera) Service server
After=network-online.target

[Service]
Type=forking
Environment=RTSP_NAME=RTSP
Environment=RTSP_URI=rtsp://%%s:554/unicast
Environment=INTERFACE=eth0
EnvironmentFile=-/etc/default/onvif-srvd
WorkingDirectory=/var/lib/onvif-srvd
PIDFile=/run/onvif_srvd.pid
ExecStart=/usr/bin/onvif_srvd \
	--pid_file /run/onvif_srvd.pid \
	--ifs ${INTERFACE} \
	--scope onvif://www.onvif.org/name/TelevicRelay \
	--scope onvif://www.onvif.org/location/Brussels \
	--scope onvif://www.onvif.org/Profile/Streaming \
	--scope onvif://www.onvif.org/Profile/S \
	--name ${RTSP_NAME} --width 1200 --height 720 --url ${RTSP_URI} --type H264
TimeoutSec=4
Restart=always
RestartSec=2
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
